html
	head
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		link(rel="stylesheet" type="text/css" href="src/sconfiCustom.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="utf-8")
			
	body
		include nav
		
		div(class="containerBackground container-fluid")
			div(class="normalBGMarginrow row")
				div(class="col-sm-10 col-sm-offset-1")
					form(id="batchForm" method="POST" class="form-horizontal" action="/batchRoute" enctype="multipart/form-data")
						br
						h2(class="h2HOmepage" id="marginH2smaller") LICHTING #{newBatchNR} 
						br
						div(class="form-group")
							div(class="col-sm-2 col-sm-offset-1")
								input(type="text" id="inputFN" class="form-control" name="member[0].FN" placeholder="Voornaam" required)
							div(class="col-sm-2")
								input(type="text" id="inputLN" class="form-control" name="member[0].LN" placeholder="Achternaam" required)
							div(class="col-sm-3")
								input(type="url" id="inputLinkedIn" class="form-control" name="member[0].linkedin" pattern="https?://.+" title="Include http://" placeholder="linkedin" required)
							div(class="col-sm-3")
								input(type="file" id="file" class="form-control inputfile" accept=".jpg, .jpeg, .png" name="member[0].file" required)
								label(for="file" class="form-control") Upload profielfoto
							div(class="col-sm-1")
								button(type="button" class="btn btn-default addMemberButton") #[i(class="glyphicon glyphicon-plus")]

						//- The template for adding new field
						div(class="form-group hide" id="memberTemplate")
							div(class="col-sm-2 col-sm-offset-1")
								input(type="text" class="form-control" name="FN" placeholder="Voornaam" required)
							div(class="col-sm-2")
								input(type="text" class="form-control" name="LN" placeholder="Achternaam" required)
							div(class="col-sm-3")
								input(type="url" class="form-control" name="linkedin" pattern="https?://.+" title="Include http://" placeholder="linkedin" required)
							div(class="col-sm-3")
								input(type="file" id="file" class="form-control inputfile" accept=".jpg, .jpeg, .png" name="file" required)
								label(for="file" class="form-control") Upload profielfoto
							div(class="col-sm-1")
								button(type="button" class="btn btn-default removeMemberButton") #[i(class="glyphicon glyphicon-minus")]
						br
						br

						div(class="form-group")
							div(class="col-sm-3 col-sm-offset-2")
								div(class="input-group")
									span(class="input-group-addon") Inauguratie datum
									input(id="inaugurationDate" type="date" data-date="" data-date-format="MMM YYYY" class="form-control" name="inauguration" required)
							div(class="col-sm-3 col-sm-offset-2")
									input(type="file" name="file" id="file" class="form-control inputfile" accept=".jpg, .jpeg, .png" required)
									label(for="file" class="form-control") Upload lichtingsfoto

						div(class="form-group")
							div(class="col-sm-2 col-sm-offset-5")
								button(id="btnAddBatch" type="submit" class="btn btn-dark btn-lg") Voeg lichting toe
						br


		include footer  
	script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js")
	script(src="js/dynamicInput.js" language="Javascript" type="text/javascript")

	script.
		$(document).ready(function() {
			$('#batchForm').hide()
			$('#batchForm').fadeIn(1500)


			var memberIndex = 0;
				$('#batchForm').on('click', '.addMemberButton', function() {
					memberIndex++;
					var $template = $('#memberTemplate'),
						$clone    = $template
										.clone()
										.removeClass('hide')
										.removeAttr('id')
										.attr('data-member-index', memberIndex)
										.insertBefore($template);

					// Update the name attributes
					$clone
						.find('[name="FN"]').attr('name', 'member[' + memberIndex + '].FN').end()
						.find('[name="LN"]').attr('name', 'member[' + memberIndex + '].LN').end()
						.find('[name="linkedin"]').attr('name', 'member[' + memberIndex + '].linkedin').end()
						.find('[name="file"]').attr('name', 'member[' + memberIndex + '].file').end()
						;
				})

				// Remove button click handler
				$('#batchForm').on('click', '.removeMemberButton', function() {
					memberIndex--;
					var $row  = $(this).parents('.form-group'),
						index = $row.attr('data-book-index');
					// Remove element containing the fields
					$row.remove();
				})
		}) // closing tag document.ready
			