html
	head
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		link(rel="stylesheet" type="text/css" href="src/sconfiCustom.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="utf-8")
			
	body
		include nav
		
		div(class="containerBackground container-fluid" id="containerAddBatchPage" )
			div(class="normalBGMarginrow row")
				div(class="col-sm-10 col-sm-offset-1")
					form(id="memberForm" method="POST" class="form-horizontal formBackground" action="/memberRoute" enctype="multipart/form-data" )
						h2(class="h2Center" id="h2CreateBatch") LICHTING #{batchNr} 
						hr
						each item in batches
							div(class="form-group")
								div(class="col-sm-4 col-sm-offset-4")
									img.batchimage(src='images/uploaded_db/' + item.dataValues.batch_photo)
									div(class="input-group")
										span(class="input-group-addon") Inauguratie datum
										span(class="form-control") #{item.dataValues.inauguration}
									hr
						h3.h3titleFormMiddle Nieuwe Sconfi's:
						br
						div(class="form-group")
							div(class="col-sm-1")
								h2(id="starBatchpage") *
							div(class="col-sm-2")
								input(type="text"  class="form-control" name="member[0][FN]" placeholder="Voornaam" required)
							div(class="col-sm-2")
								input(type="text"  class="form-control" name="member[0][LN]" placeholder="Achternaam" required)
							div(class="col-sm-3")
								input(type="url"  class="form-control" name="member[0][linkedin]" pattern="https?://.+" title="Include http://" placeholder="linkedin link" required)
							div(class="col-sm-3")
								input(type="file" class="form-control inputfile" accept=".jpg, .jpeg, .png" name="pf_photo[]" required)
								label(for="pf_photo" class="form-control") Upload profielfoto
							div(class="col-sm-1")
								button(type="button" class="btn btn-default addMemberButton") #[i(class="glyphicon glyphicon-plus")]

						//- The template for adding new field
						div(class="form-group hide" id="memberTemplate")
							div(class="col-sm-1")
								h2(id="starBatchpage") *
							div(class="col-sm-2")
								input(type="text" id="FN" class="form-control" placeholder="Voornaam" )
							div(class="col-sm-2")
								input(type="text" id="LN" class="form-control" placeholder="Achternaam" )
							div(class="col-sm-3")
								input(type="url" id="linkedin" class="form-control"  pattern="https?://.+" title="Include http://" placeholder="linkedin link" )
							div(class="col-sm-3")
								input(type="file" id="pf_photo" class="form-control inputfile" accept=".jpg, .jpeg, .png" )
								label(for="pf_photo" class="form-control") Upload profielfoto
							div(class="col-sm-1")
								button(type="button" class="btn btn-default removeMemberButton") #[i(class="glyphicon glyphicon-minus")]
						br
						br

						//- to give batchnr to db for inserting
						input(type="hidden" name="batch" value=`${batchNr}`)

						div(class="form-group")
							div(class="col-sm-2 col-sm-offset-5")
								button(id="submitMembers" type="submit" class="btn btn-dark btn-lg sconfi-btn") SUBMIT
						

		include footer  

	script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js")
	script(src="js/dynamicInput.js" language="Javascript" type="text/javascript")

	script.
		$(document).ready(function() {
			var memberIndex = 0;
			$('#memberForm').on('click', '.addMemberButton', function() {
				memberIndex++;
				var $template = $('#memberTemplate'),
					$clone    = $template
									.clone()
									.removeClass('hide')
									.removeAttr('id')
									.attr('data-member-index', memberIndex)
									.insertBefore($template);

				// Update the name attributes
				$clone
					.find('[id="FN"]').attr('name', 'member[' + memberIndex + '][FN]').end()
					.find('[id="LN"]').attr('name', 'member[' + memberIndex + '][LN]').end()
					.find('[id="linkedin"]').attr('name', 'member[' + memberIndex + '][linkedin]').end()
					.find('[id="pf_photo"]').attr('name', 'pf_photo[]').end()
					.find('[id="FN"]').attr('required', 'true').end()
					.find('[id="LN"]').attr('required', 'true').end()
					.find('[id="linkedin"]').attr('required', 'true').end()
					.find('[id="pf_photo"]').attr('required', 'true').end()
					;
			})


			// Remove button click handler
			$('#memberForm').on('click', '.removeMemberButton', function() {
				var $row  = $(this).parents('.form-group'),
					index = $row.attr('data-book-index');
				// Remove element containing the fields
				$row.remove();
			})
		})


		this.getField("myField").display = display.visible ;
		this.getField("myField").required = true ;

		and

		this.getField("myField").display = display.hidden ;
		this.getField("myField").required = false ;

			