div.row(id="footerContainer")
	div(class="col-sm-6")
		div(class="col-sm-9 col-sm-offset-2 footerColumn")
			h6.titleFooter Contact
			div.row
				div(class="col-sm-1 noPadding")
					i#iconLocatie(class="glyphicon glyphicon-map-marker")
				div(class="col-sm-10")
					p.contactInfo Damesdispuut Sconfinato #[br] Dolmansstraat 7 #[br] 6222 EA Maastricht
			div.row
				div(class="col-sm-1 noPadding")
					i#iconMail(class="glyphicon glyphicon-envelope")
				div(class="col-sm-9")
					p.contactInfo damesdispuutsconfinato@gmail.com
				div(class="col-sm-1")
					a(href="https://www.facebook.com/damesdispuutsconfinato.nl/" TARGET="_blank")
						img#FBlogoFooter(src="/images/footer/facebookblauw.jpg")
						

	div(class="col-sm-6")
		div(class="col-sm-9 col-sm-offset-1 footerColumn")
			h6.titleFooter Sponsoren
			div.row.SponsorRow
				div(class="col-sm-4")
					a(href="https://miseenplace.nl/" TARGET="_blank")
						img.sponsorenImg(src="/images/footer/mise_en_place.png")
				div(class="col-sm-4")
					a(href="http://rijschoolmarcelmingels.nl/" TARGET="_blank")
						img.sponsorenImg(src="/images/footer/marcelmingels.png")
				div(class="col-sm-4")
					a(href="http://www.detweeheeren.nl/" TARGET="_blank")
						img.sponsorenImg(src="/images/footer/2heerenLogoNieuw.jpg")
