div(class="row" id="footerContainer")
	div(class="col-sm-12")
		div(class="row")
			div(class="col-sm-3 col-sm-offset-2")
				//- a(href='https://www.facebook.com/damesdispuutsconfinato.nl/' TARGET="_blank") 
					//- img(src="/images/footer/facebooklogo.png")
			//- div(class="col-sm-2")
				a(href="/login" class="btn btn-outline-primary") Login