html
	head
		title Sconfinato
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		link(rel="stylesheet" type="text/css" href="src/sconfiCustom.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="utf-8")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")

	body
		include nav
		div(class="container" id="containerPrepage")
			div(class="row prepageRow" id="videoRow")
					div(class="hidden-sm-down col-md-12" id="divPrepageVideo")
						//- a(href="/homepage")
						video(id="videoPrepage" src="videos/prePagemovie3.mp4" autoplay="true" loop="false" muted="true")
							
						section(id="section04" class="scrollArrow")
							a(href="#startHomepage")
								span(id="arrowPrepage")

			
			div(class="row " id="startHomepage")
				div(class="col-sm-12"  )

					h1(id="h1HOmepage") home page

					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmlorem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonpit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatuit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatuit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi eiusmlorem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonpit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatuit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatuit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nullaeiusmlorem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonpit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatuit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatuit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nullaeiusmlorem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonpit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatuit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatuit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nullaeiusmlorem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonpit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatuit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatuit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nullaeiusmlorem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonpit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatuit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatuit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nullaeiusmlorem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonpit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatuit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatuit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla aliquip ex ea commodconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariaturoident, sunt in culpa qui officia deserunt mollit anim id est laborum. odtempor niam,
					
	

	script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

	script.
		$(document).ready(function(){
			$("#arrowPrepage").click(function() {
				$('html, body').animate({
					scrollTop: $("#startHomepage").offset().top
				}, 2000);
			});

			$("#divPrepageVideo").click(function() {
				$('html, body').animate({
					scrollTop: $("#startHomepage").offset().top
				}, 2000);
			});
		})

		//- $(document).ready(function(){
		//- 	var height = movieDiv.outerHeight(),
		//- 	$("#navbarID").hide()
		//- 	$(".navbarspacing").hide()
		//- 	$(window).scroll(function () {
		//- 		if ($(window).scrollTop() > 250) {
		//- 		  $("#navbarID").fadeIn().show();
		//- 		}
		//- 		if ($(window).scrollTop() < 399) {
		//- 		 $("#navbarID").hide()
		//- 		}
		//- 	})
		//- })

		$(document).ready(function(){
			var movieDiv = $('.prepageRow');
			var range = 250;

			$("#navbarID").hide();
			$(".navbarspacing").hide();

			$(window).scroll(function (e) {
			  var scrollTop = $(this).scrollTop(),
				  height = movieDiv.outerHeight(),
				  offset = height / 2,
				  calc = 1 - (scrollTop - offset + range) / range;

			  movieDiv.css({ 'opacity': calc });

			  if (calc > '1') {
				movieDiv.css({ 'opacity': 1 });
				$("#navbarID").hide()

			  } else if ( calc < '0' ) {
				movieDiv.css({ 'opacity': 0 });
				$("#navbarID").fadeIn().show();
				
			  } 
			});
		})

//- script.
//- 		$(document).ready(function(){
//- 			var subscription = "super_swopper"
//- 			$(".subscripColumn").click(function(){
//- 				$(".subscripColumn").removeAttr("id", "selectedSubscription")
//- 				$(this).attr('id', 'selectedSubscription')
//- 				subscription = $("#selectedSubscription").attr("value")
//- 				$("#subscriptionType").attr("value", subscription)
//- 			})
//- 		})



	//- 	$('a[href^="#"]').on('click',function (e) {
	//-     e.preventDefault();

	//-     //shows what href contains
	//-     var targethash = this.hash,
	//-     $target = $(targethash);
	//-     $('.content').stop().animate({
	//-         'scrollTop': $target.offset().top//-187 //scroll to top position on href element for example #about
	//-     }, 1000, 'swing');
	//- });			 


		//- $(document).ready(function(){
		//- 	$("#navbarID").removeClass('navbar-fixed-top')
		//- 	$(window).scroll(function () {
		//- 		if ($(window).scrollTop() > 800) {
		//- 		  $("#navbarID").addClass('navbar-fixed-top');
		//- 		}
		//- 		if ($(window).scrollTop() < 799) {
		//- 		 $("#navbarID").removeClass('navbar-fixed-top')
		//- 		}
		//- 	})
		//- })

			//- $('#videoPrepage').scroll(function(){
			//- 	if($(window).scrollTop() > 20 ){
			//- 		$('html, body').animate({
			//-         scrollTop: $("#startHomepage").offset().top + offset
			//-     }, 1000);
			//- 	}
			//- })





		//- $(document).ready(function(){
		//- 	$(window).scroll(function(){
		//- 		$('html, body').animate({
		//- 			scrollTop: $("#startHomepage").offset().top 
		//- 			}, 2000);
		//- 	})
		//- })

//- $("#videoRow").fadeOut(3000)
	//-   $(window).scroll(function(){
	//-   var st = $(window).scrollTop();
	//-   var timeout = setTimeout(function(){
	//-     var currentScrollTop = $(window).scrollTop();
	//-     if(st == currentScrollTop){
	//-       var yPosInAbsolute = window.innerHeight - 100;
	//-       $('#goToTop').css({'top': st + yPosInAbsolute, 'right': 400});

	//-       $('#goToTop').show();
	//-       $('#goToTop').click(function(){
	//-         $('html,body').stop(true, false).animate({scrollTop: $('#test').offset().top - 50}, 2000);
	//-         clearTimeout(timeout);
	//-       });
	//-     }else{
	//-       $('#goToTop').hide();
	//-       clearTimeout(timeout);
	//-     }
	//-   }, 2000);

	//- });


		//- 	var lastScrollTop = 0;
		//- 	$(window).scroll(function(){
		//- 		var currentScrollTop = $(this).scrollTop();
		//- 		console.log(currentScrollTop)
		//- 		if (currentScrollTop > lastScrollTop){
		//- 			// downscroll code
		//- 			if(currentScrollTop > 100)
		//- 			$('html, body').animate({
		//- 			scrollTop: $("#startHomepage").offset().top
		//- 			}, 2000);	
		//- 		} else {
		//- 			$('html, body').animate({
		//- 			scrollTop: $("#containerPrepage").offset().top
		//- 			}, 1000);
		//- 		}
		//- 		lastScrollTop = currentScrollTop;	
		//- 	})
		//- })

//- Math.abs


//- function goToByScroll(id){
//- 			    $('html,body').animate({
//- 			        scrollTop: $("#"+id).offset().top},
//- 			        1500);
//- 				}

			
		//- 	  
		//- 	        if (currentScrollTop < 500 ) {
		//- 	            goToByScroll('startHomepage');
		//- 	    	} 
		//- 		} else {
		//- 	        // upscroll code
		//- 	        if (currentScrollTop > 500) {
		//- 	            goToByScroll('containerPrepage');
		//- 	        else if(currentScrollTop > 800) {
		//- 	        	goToByScroll('startHomepage')
		//- 	        	}
		//- 	    	}
		//- 	    }
		//- 	    lastScrollTop = currentScrollTop;
		//- 	})	
		//- })
		

