html
	head
		title Sconfinato
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		link(rel="stylesheet" type="text/css" href="src/sconfiCustom.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="utf-8")
		

	body
		include nav
		div(class="container-fluid" id="containerPrepage")
			div(class="row prepageRow" id="videoRow")
					div(class="hidden-sm-down col-md-12" id="divPrepageVideo")
						//- a(href="/homepage")
						video(id="videoPrepage" src="videos/prePagemovie3.mp4" autoplay="true" loop="false" muted="true")
							
						section(id="section04" class="scrollArrow")
							a(href="#startHomepage")
								span(id="arrowPrepage")

			div(class="row " id="startHomepage")
				div(class="col-sm-12")
						h2(class="h2HOmepage") DAMESDISPUUT 
						h1(id="h1HOmepage") SCONFINATO
						h2(class="h2HOmepage" id="h2H0mepageRight") - DOE WA GE WILT, DE MENSEN KLETSEN TOCH -
					

		

		
			include footer			
	

	script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

	script.
		$(document).ready(function(){
		// CLICK ON ARROW OR ON VIDEO TO GO FROM PREPAGE TO HOMEPAGE SECTION
			$("#arrowPrepage").click(function() {
				$('html, body').animate({
					scrollTop: $("#startHomepage").offset().top
				}, 2000);
			});

			$("#divPrepageVideo").click(function() {
				$('html, body').animate({
					scrollTop: $("#startHomepage").offset().top
				}, 2000);
			});
		})

		$(document).ready(function(){
		// ON SCROLL VIDEO'S OPACITY CHANGES + NAVBAR WILL (DIS)APPEAR
			var movieDiv = $('.prepageRow');
			var range = 250;

			$("#navbarID").hide();
			$(".navbarspacing").hide();

			$(window).scroll(function (e) {
			  var scrollTop = $(this).scrollTop(),
				  height = movieDiv.outerHeight(),
				  offset = height / 2.5,
				  calc = 1 - (scrollTop - offset + range) / range;

			  movieDiv.css({ 'opacity': calc });

			  if (calc > '1') {
				movieDiv.css({ 'opacity': 1 });
				$("#navbarID").fadeOut();

			  } else if ( calc < '0' ) {
				movieDiv.css({ 'opacity': 0 });
				$("#navbarID").fadeIn();
				

			  } 
			});
		})
