html
	head
		title Sconfinato
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		link(rel="stylesheet" type="text/css" href="src/sconfiCustom.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="utf-8")

	body
		//- include nav
		div(class="container")
			div(class="row" )
				div(class=".hidden-sm-down col-md-12" id="divPrepageVideo")
					video(id="videoPrepage" src="videos/prePagemovie2.mp4" autoplay="true" loop="false" muted="true")
				div(class="row")
					div(class="col-md-3 col-md-offset-4")
						img(id="wapenInVideo" src="images/prepage/wapenWit.png")
						section(id="section04" class="scrollArrow")
							a(href="/")
								span






	script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

	script.
		$(document).ready(function(){
			$(function() {
				$('a[href*=#]').on('click', function(e) {
					e.preventDefault();
				$('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
				});
			});
		})
		
