html
	head
		title Sconfinato
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		link(rel="stylesheet" type="text/css" href="src/sconfiCustom.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="utf-8")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")

	body
		//- include nav
		div(class="container" id="containerPrepage")
			div(class="row prepageRow" )
				div(class="hidden-sm-down col-md-12" id="divPrepageVideo")
					video(id="videoPrepage" src="videos/prePagemovie3.mp4" autoplay="true" loop="false" muted="true")
					section(id="section04" class="scrollArrow")
						a(href="#startHomepage")
							span(id="arrowPrepage")


			div(class="row" )
				div(class="col-sm-12" id="startHomepage" )
					//- include nav
					h1 home page
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum docing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing eore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididuntit, sed do eiusmodtempor incidore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing eore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incidore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore etre magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incidore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing eore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incidore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit re magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incidore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing eore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incidore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit re magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incidore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing eore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incidore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit  dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing eore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incidore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing eore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amnsectetur adipisicing eore magna aliqua. Ut enim ad minim veniam,orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore mam ad minim veniam,
					
	

	script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

	script.
		$(document).ready(function(){

			$("#arrowPrepage").click(function() {
				$('html, body').animate({
			        scrollTop: $("#startHomepage").offset().top
			    }, 2000);
			});

			$(window).scroll(function(){
				$('html, body').animate({
					scrollTop: $("#startHomepage").offset().top
					}, 2000);
			})


			
			
		})



//- function goToByScroll(id){
//- 			    $('html,body').animate({
//- 			        scrollTop: $("#"+id).offset().top},
//- 			        1500);
//- 				}

		//- 	var lastScrollTop = 0;
		//- 	$(window).scroll(function(){
		//- 	    var currentScrollTop = $(this).scrollTop();
		//- 	    if (currentScrollTop > lastScrollTop){
		//- 	        // downscroll code
		//- 	        if (currentScrollTop < 500 ) {
		//- 	            goToByScroll('startHomepage');
		//- 	    	} 
		//- 		} else {
		//- 	        // upscroll code
		//- 	        if (currentScrollTop > 500) {
		//- 	            goToByScroll('containerPrepage');
		//- 	        else if(currentScrollTop > 800) {
		//- 	        	goToByScroll('startHomepage')
		//- 	        	}
		//- 	    	}
		//- 	    }
		//- 	    lastScrollTop = currentScrollTop;
		//- 	})	
		//- })


			//- $("#navbarID").removeClass('navbar-fixed-top')
			//- 	console.log($(window).scrollTop());

			//- $(window).scroll(function () {
			//- 	if ($(window).scrollTop() > 1000) {
			//- 	  $("#navbarID").addClass('navbar-fixed-top');
			//- 	}
			//- 	if ($(window).scrollTop() < 999) {
			//- 	 $("#navbarID").removeClass('navbar-fixed-top')
			//- 	}
			//- })

			//- $('#videoPrepage').scroll(function(){
			//- 	if($(window).scrollTop() > 20 ){
			//- 		$('html, body').animate({
			//-         scrollTop: $("#startHomepage").offset().top + offset
			//-     }, 1000);
			//- 	}
			//- })

			
		  
			



		//- var lastScrollTop = 0;
		//- $(window).scroll(function(event){
		//-     var scrollTop = $(this).scrollTop();
		//-     if (scrollTop > lastScrollTop){
		//-         // downscroll code
		//-         if (scrollTop < 500) {
		//-             goToByScroll('contact');
		//-         }else if(scrollTop < 990){
		//-             goToByScroll('about');
		//-         }
		//-     } else {
		//-         // upscroll code
		//-         if (scrollTop > 990) {
		//-             goToByScroll('about');
		//-         }else if(scrollTop > 500){
		//-             goToByScroll('contact');
		//-         }
		//-     }
		//-     lastScrollTop = scrollTop;
		//- });
