/* GENERAL CSS*/
html, body{
  padding: 0px;
  margin: 0px;
  height: 100%;
}

div{
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.container{
  padding: 0;
  margin: 0;
  width: 100%;
}

.row{
  margin: 0px;
  margin: 0px;
  width: 100%;
}

.containerBackground{
  position: relative;
  height: 85%;
  padding: 0px;
  display: block;
  width: auto;
  /*overflow: hidden;*/
  height: 85%; 
  background: url(/images/background/splashwit.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sconfi-btn{
    border: solid 1px #2a344c;
    color: #2a344c;
    background-color: #2a344c26;
}

/* NAV BAR*/
.navbarspacing{
  height: 10%;
  background-color: #2a344c;
}

.navbar-default{
  background-color: transparent;
  margin-top: 0.5%;
  margin-bottom: 1%;
  /*border:  1px double #fff; 
  outline: 1px solid #fff;
  outline-offset: 2px;
  outline-right: none;
  outline-left: none;
  border-left: none;
  border-right: none;*/
  border-bottom: none;
  height: 15%;
  color: transparent;
}

#nav-container{
  height:100%;
  background: rgba(253, 253, 254, 0.75);
  border: solid 1px white;
}

.navbar-brand{
  padding: 0px;
  height: 100%;
  padding-left: 5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

#navWapen{
  height: 100%;
  width: auto;
  margin: 0px;
  padding: 0px;
}

.nav > li > a {

  color: white;
}
.navbar-nav{
  margin: auto, 0px;
  color: #2a344c;
  font-size: 120%;
  height: 100%;
  vertical-align: middle;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}


 


/* FOOTER */
#footerContainer{
  /*background-color: #2a344c;*/
  height: 15%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: url();
  background: rgba(255,255,255, 0.5);
  border-top:  1px double #fff; 
  outline: 1px solid #9e9e9e6b;
  outline-offset: 2px;
  z-index: 2;
}

/* PREPAGE*/
#divBgLogin, #containerLogin, #containerPrepage{
  height: 100%;
  position: relative;
  top: 0;
  /*z-index: 1;*/
  display: inline-block;
  width: 100%;
  padding: 0px;
}

#videoRow, .prepageRow{
  display: inline-block;
  width: 100%;
  margin: 0px;
  background-color: #222;
}

#divPrepageVideo{
  padding: 0px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 100%;
  /*z-index: 1;*/
  width: 100%;
}


#videoPrepage{
  width: 100%;
  height: 100%;
  
  right: 0;
  top: 0;
  /*opacity: 0.9;*/
  background-color: #000;
  overflow: hidden;
  /*z-index: 1;*/

}

section {
  position: relative;
  width: 100%;
  z-index: 1;
  /*height: 100%;*/
}

.scrollArrow a {
  position: fixed;
  bottom: 15%;
  right: 50%;
  z-index: 1;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  text-decoration: none;
  transition: opacity .3s;
}

.scrollArrow a:hover {
  opacity: .5;
}

#section04 a span {
  position: fixed;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 4s infinite;
  animation: sdb04 4s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
  0% {
  -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
  -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
  -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb04 {
  0% {
  transform: rotate(-45deg) translate(0, 0);
  }
  20% {
  transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
  transform: rotate(-45deg) translate(0, 0);
  }
}

/*HOMEPAGE*/
#startHomepage{
  display: block;
  position: relative;
  width: auto;
  /*overflow: hidden;*/
  height: 85%; 
  color: #2a344c;
  background: url(/images/background/splashwit.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*opacity: 0.5;*/
}

#h1HOmepage{
  font-size: 900%;
  color: #2a344c;
  text-shadow: 10px 10px 10px #FFFFFF;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  font-weight: bold;
}

.h2Center{
  font-size: 220%;
  color: #2a344c;
  text-shadow: 10px 10px 10px #FFFFFF;
  margin-top: 20%;
  width: 100%;
  margin-bottom: 0px;
  text-align: center;
  font-weight: bold;
}

#h2H0mepageRight{
  margin-top: 0px;
}


#h2CreateBatch{
  margin-top: 3%;
  margin-bottom: 5%;
  font-size: 200%;
  text-shadow: 20px 20px 20px #FFFFFF;
}

/*#2c1f1feb LICHTGRIJS*/

/*FOR ADJUSTING TEXT > LIKE THE TITLE > EXAMPLE CODE*/
/*html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}*/

/*LEDEN*/
#boomtopImg{
  height: 55%;
  width: 90%;
  padding-left: 10%;
}

.profilePhoto{
  /*max-width: 20px;*/
  height: 50%;
}

.memberFrame{
  padding: 0px;
  height: 20%;
}
.memberColumn{
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  overflow: hidden;
}
/*LOGIN*/
.bgMarginrow{
  margin-top: 30%;
}

#signupForm, #signupForm input, #loginForm, #loginForm input{
  text-align: center;
}

#submitLogin{
  width: 100%;
}

.titleSmall{
  text-align: center;
}

/*PROFILE*/
#titleProfilepage{
  text-align: center;
  
  background-color: #f5f2f18a;
}

.normalBGMarginrow{
  margin-top: 15%;
}

.btnDiv a{
  width: 100%;
}

/*ADD LICHTING/BATCH*/
#containerAddBatchPage{
  height: 100%;
}

.formBackground{
background-color: rgba(255, 255, 255, 0.87);
border: solid 1px #2a344c;;
}

#starBatchpage{
  text-align: center;
  margin-left: 40%;
  color: ;
  margin-top: 0px;
}

#marginH2smaller{
  margin-top: 0px;
  margin-bottom: 2%;
  text-shadow: none;
  color: #2a344c;
  text-align: center;
}

.batchimage{
  width: 100%;
  height: auto;

}

.h3titleFormMiddle{
  text-align: center;
  color: #2a344c;

}

.inputfile {
  width: 100%;
  height: 34px;
/*  opacity: 0;*/
  overflow: hidden;
  position: absolute;
 /* z-index: -1;*/
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
  text-align: center;
}

#inputGebDatum {
      position: relative;
      width: 150px; height: 20px;
      color: white;
}
#inputGebDatum:before {
  position: absolute;
  top: 3px; left: 3px;
  content: attr(data-date);
  display: inline-block;
  color: black;
}

#inputGebDatum::-webkit-datetime-edit, #inputGebDatum::-webkit-inner-spin-button, #inputGebDatum::-webkit-clear-button {
  display: none;
}

#inputGebDatum::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 3px;
  right: 0;
  color: black;
  opacity: 1;
}


